.dropZone {
  width: 100%;
  padding: 16px;
  font-size: 14px;
  color: #999;
  border: 2px dashed currentColor;
  margin-bottom: 8px;
  cursor: pointer;
}
.dropZone .link {
  color: #2196f3;
}
.dropZoneActive {
  color: #000;
}
.dropZoneAccept {
  color: #009688;
}
.dropZoneReject {
  color: #f44336;
}
.inputFile {
  display: none;
}
.labelFile {
  display: inline-block;
  margin-bottom: 8px;
}
