.controlsWrapper {
  display: flex;
  flex-wrap: nowrap;
}
.controlsWrapper > * {
  margin-right: 4px;
  cursor: pointer;
}
.root {
  width: 100%;
  margin-top: 24px;
}
.table {
  min-width: 800px;
}
.tableWrapper {
  overflow-x: auto;
}
.nowrap {
  white-space: nowrap;
}
.reminderWrapper:hover {
  background-color: #cccccc;
}
