.addListItem:hover .reminderAvatarDefault {
    background-color: #1976d2;
}


.addLink {
    text-decoration: none;
}

.addLink:hover {
    text-decoration: underline;
}

.reminderWrapper:not(:last-of-type)::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #cccccc;
}

.reminderWrapper:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.reminderAvatarDefault {
    width: 30px;
    height: 30px;
    background-color: #bdbdbd;
}

.reminderAvatar {
    width: 30px;
    height: 30px;
    background-color: #1976d2;
}

.reminderAvatarOutdated {
    width: 30px;
    height: 30px;
    background-color: #f44336;
}

.reminderWrapper:hover .reminderActions {
    visibility: visible;
}

.hover {
    background-color: #cccccc;
}

.reminderWrapper.hover .reminderActions {
    visibility: visible;
}

.reminderActions {
    visibility: hidden;
}

.popoverTitle {
    margin: 10px 0;
}

.popoverBtn {
    margin: 5px 5px;
}
