.chips {
  width: 100%;
}
.chip {
  margin-right: 4px;
}
.fieldWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.fieldSubheader {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: inherit;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  box-sizing: border-box;
  list-style: none;
  line-height: 48px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}
.buttonSave {
  max-width: 48px;
  flex: 1 1 auto;
}

.error {
  color: #f44336;
}

.validateError {
  border-top: 2px solid #f44336;
  padding-top: 8px;
  margin: 5px 0 0 0;
  font-size: 0.75rem;
  text-align: left;
  min-height: 1em;
  line-height: 1em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #f44336;
}