.filterTextField {
  min-width: 300px;
}
.chip {
  margin: 4px;
}
.filterWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.filterDesktopWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.textFieldWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.presetsChipsWrapper {
  display: flex;
  align-items: center;
  overflow-x: auto;
}
@media (min-width: 960px) {
  .presetsChipsWrapper {
    overflow-x: visible;
    flex-wrap: wrap;
  }
}
.filterIcon {
  cursor: pointer;
  margin-left: 16px;
}
