.filterTextField {
  min-width: 300px;
}
.chip {
  margin: 4px;
}
.filterWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.textFieldWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
