.emptyFormWrapper {
    min-height: 100px;
}

.progressBar {
    position: absolute;
    left: 0;
    right: 0;
}

.reminderForm {
    padding: 30px 0 15px;
}

.inputWrapper {
    margin-bottom: 12px;
}

.saveBtnHidden {
    margin-left: 16px;
    visibility: hidden;
}

.saveBtnVisible {
    margin-left: 16px;
    visibility: visible;
}

